body {
  background-color: rgb(0, 0, 0);
  overflow: hidden;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  width: 500px;
  border-radius: 256px;
  box-shadow: 0 0 50px 15px #27109e;
}

.main {
  display: flex;
  height: 100vh;
}

.left {
  background: radial-gradient(
    circle,
    rgba(9, 18, 80, 1) 0%,
    rgba(11, 44, 106, 1) 29%,
    rgba(56, 113, 179, 1) 75%
  );
  border: 2px solid rgb(94, 85, 101);
  padding: 25px;
  margin: 20px;
  border-radius: 25px;
  width: 60%;
  height: 100%;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.31);
}

.right {
  width: 40%;
  /* background-color: green; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.details {
  display: flex;
  justify-content: space-between;
}

.IIT_img {
  /* margin-top: 60px; */
  /* border: 1px solid red; */
  height: 66px;
  width: 201px;
}

.IIT {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(81, 76, 76);
  border-radius: 30px;
  background-color: white;
  height: 220px;
  width: 220px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 12px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.41);
}

.UOW_img {
  height: 105px;
  width: 197px;
}

.UOW {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(81, 76, 76);
  border-radius: 30px;
  background-color: white;
  height: 220px;
  width: 220px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.41);
}

.font {
  margin-left: 13px;
  margin-top: -2px;
}

.gmail_img {
  height: 94px;
  width: 173px;
}

.Email {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(81, 76, 76);
  border-radius: 30px;
  background-color: white;
  height: 220px;
  width: 220px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 12px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.41);
}

.welcome {
  font-size: 50px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #031344;
  font-style: italic;
  font-weight: bolder;
}

.name {
  margin-top: -25px;
  margin-left: 200px;
  font-size: 50px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
  font-style: italic;
  font-weight: bold;
}
.task h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.zoom:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease;
}

.task {
  background-color: white;
  margin-top: 5vh;
  border: 2px solid rgb(10, 4, 75);
  border-radius: 30px;
  height: 30vh;
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5vh;
}

.task_lower {
  display: flex;
  align-items: center;
  justify-content: center;
}

.task_lower img {
  width: 150px;
  height: 150px;
}

.task ul li {
  font-size: 20px;
  padding-bottom: 12px;
}
